################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MIL_POS/FileContentIndex
/.vs
/ValueTypes/ValueTypes/bin/Debug/net6.0
/ValueTypes/ValueTypes/obj
/ValueTypes/.vs
